@model List<OnlineStoreApp_1.DataModel.UrunEntity>
@{
    ViewData["Title"] = "Urunler";
}
<table class="table table-bordered table-dark">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Adi</th>
            <th scope="col">Kategori</th>
            <th scope="col">Adet</th>
            <th scope="col">Fiyat</th>
            <th scope="col">İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td scope="row">@(item.Id)</td>
                <td>@(item.Adi)</td>
                <td>@(item.Kategori)</td>
                <td>@(item.Adet)</td>
                <td>@(item.Fiyat)</td>
                <td>
                    <a href="/Urunler/UrunDetay?id=@(item.Id)" class="btn btn-primary">Düzenle</a>
                    <a class="btn btn-danger">Sil</a>
                </td>
            </tr>
        }

    </tbody>
</table>
